* {
  box-sizing: border-box;
}
html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0 8px;
  max-width: 1260px;
  margin: 0 auto;
  width: 100vw;
}
main {
  min-width: 600px;
}
:root {
  --sh-class: #6f42c1;
  --sh-identifier: #354150;
  --sh-sign: #24292e;
  --sh-string: #53b487;
  --sh-keyword: #d73a49;
  --sh-comment: #6a737d;
  --sh-jsxliterals: #24292e;
  --sh-entity: #424d5b;
  --sh-property: #1d3147;

  --codice-caret-color: #333;
}

a, a:focus, a:visited {
  color: inherit;
}
a:hover {
  color: #424d5b;
}

.text-center {
  text-align: center;
}

.editor {
  position: relative;
  max-height: 300px;
  display: flex;
  overflow-y: scroll;
  justify-content: stretch;
  flex-direction: column;
  box-shadow: 0 24px 40px 4px rgb(200 200 200 / 50%);
}
.preview--result {
  font-family: Consolas, Monaco, monospace;
  border: none;
  font-size: 16px;
  line-height: 1.25em;
}
textarea:focus,
textarea:focus-visible {
  outline: none;
}
.preview {
  position: relative;
  border-top: 1px solid rgb(229, 231, 235);
}
.preview--error {
  margin: 0;
  padding: 8px;
  font-size: 13px;
  color: #f47067;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.executor {
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  background: #333;
  border-radius: 4px;
  color: #fff;
}
.preview--result {
  padding: 8px 12px;
  width: 100%;
  background-color: rgb(246 247 249);
  box-shadow: 0 16px 40px 4px rgb(200 200 200 / 50%);
}

.filetree {
  display: flex;
  position: relative;
  padding-right: 60px;
  border-bottom: 2px solid rgb(235 236 240);
}

.filetab {
  position: relative;
  padding: 3px 12px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: #000;
}
.filetab:hover {
  opacity: .6;
}
.filetab--active {
  color: rgb(8, 126, 164);
}
.filetab--active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  height: 2px;
  background: rgb(8, 126, 164);
  left: 0;
  width: 100%;
}
.filetab--new {
  background-color: #f6f6f6e0;
}
.filetab__button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: #f6f6f6e0;
  cursor: pointer;
  color: #000;
}

[data-codesandbox] {
  max-width: 600px;
  width: 100%;
  padding: 0 8px;
}

.codesandboxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 16px;
  margin: 54px 0;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  line-height: 1.4;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
}

.titles h1 {
  font-size: 52px;
  margin: 0;
}

.titles h3 {
  font-size: 32px;
  color: #404756;
  margin: 0;
  padding: 8px 0;
}

.titles p {
  font-size: 20px;
  margin: 0;
  padding: 8px 0;
  color: #404756;
}

.playground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  line-height: 1.4;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}

@media screen and (max-width: 1260px) {
  .codesandboxes {
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}