* {
  box-sizing: border-box;
}
html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}
body {
  max-width: 690px;
  margin: auto;
  padding: 40px 10px 40px;
}
:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --editor-text-color: transparent;
  --editor-background-color: transparent;
}

.sh__line::before {
  counter-increment: sh-line-number 1;
  content: counter(sh-line-number);
  width: 24px;
  display: inline-block;
  margin-right: 18px;
  margin-left: -42px;
  text-align: right;
  color: #a4a4a4;
}
.editor {
  position: relative;
  height: 200px;
  display: flex;
  overflow-y: hidden;
  margin-top: 20px;
}
pre {
  width: 100%;
}
pre, textarea, .preview {
  font-family: Consolas, Monaco, monospace;
  padding: 16px 12px;
  background-color: #f6f6f6;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.25em;
  caret-color: #333;
}
textarea {
  padding-left: 54px;
  overflow-y: auto;
}
code {
  padding: 16px 12px;
  counter-reset: sh-line-number;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding-left: 54px;
}
.executor {
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  background: #333;
  border-radius: 4px;
  color: #fff;
}
.preview {
  width: 100%;
  border: 2px solid #bbb;
  background: #fefefe;
}